.card {
  transition: background-color 0.5s, box-shadow 0.5s;
}

.card path,
.card h2,
.card p {
  transition: color 0.5s;
}

.card:hover {
  background-color: #0000f2;
  box-shadow: 0 10px 20px rgba(0, 33, 255, 0.5);
}

.card:hover path {
  fill: #ffffff;
}

.card:hover h2 {
  color: #fff;
}

.card:hover p {
  color: #fff;
}
